

<!DOCTYPE html>
{%extends 'MyApps1/base.html'%}
{%block body_block%}
 <h1>Your Selected Company-Details/Information</h1>
 <hr />
 <ul>
     <h3><li>Company Name: {{company.name|upper}}</li></h3>
     <h3><li>Company Location: {{company.location|title}}</li></h3>
     <h3><li>Company CEO: {{company.ceo|title}}</li></h3>
     <h3>****Employee Information in {{ company.name | upper }}</h3>
 {% if company.employees.all %}
 {%for emp in company.employees.all%}
 <ul>
     <li>Employee Number : {{emp.eno}}</li>
    <li>Employee Name : {{emp.name}}</li>
    <li>Employee Salary : {{emp.salary}}</li>
 <hr />
 </ul>
 {%endfor%}
 {% else %}
     <p style="color:red;background-color: yellow;">No-EmpRecords in given Company : {{ company.name }}</p>
 {% endif %}
 </ul>
    <a href="/companies/">Click-Here to go-back...</a>
{%endblock%}
